---
import IPost from '../../../types/post';
import { getPostsCategories, filterPosts } from '../../../repositories/blog';
import Layout from '../../../layouts/Layout.astro';
import { format } from 'date-fns';

export const getStaticPaths = async () => {
  const posts = await Astro.glob<IPost>('../posts/[!_]*.md');
  const tags = getPostsCategories(posts);

  return Object.entries(tags).map(([tag, n]) => {
    return {
      params: { tag }
    }
  });
};

const { tag } = Astro.params;
const posts = filterPosts(await Astro.glob<IPost>('../posts/[!_]*.md'), { tag }).reverse();
---

<Layout title="Blog">
  <div class="mt-10 mb-16">
    <h1 class="font-pixel text-3xl text-center mb-2">Gioele's blog</h1>
    <span class="text-sm text-white/60 text-center block">aka: a nerd's blog</span>
  </div>
  <div class="mt-10">
    <div>
      <h3 class="font-pixel text-xl mb-3 leading-loose sm:leading-normal">Latest posts tagged <span class="bg-white/5 -ml-2 pl-3 p-2 rounded">{tag}</span></h3>
      <div class="space-y-5 divide-y divide-white/10">
        { posts.map((p) => (
          <article class="pt-5 first:pt-0">
            <a href={p.url}>
              <h3 class="text-2xl mb-2">{ p.frontmatter.title } <span class="text-xs text-white/60"> - { format(p.frontmatter.pubDate, 'dd/MM/yyyy') }</span></h3>
              <p class="text-white/80 text-sm">{ p.frontmatter.description }</p>
            </a>
          </article>
        )) }
      </div>
    </div>
  </div>
</Layout>