---
import { type LucideIcon } from 'lucide-react';

interface Props {
  icon: LucideIcon;
}

const { icon: Icon } = Astro.props;
---

<div class="bg-white/5 rounded-md p-5">
  { <Icon className="w-12 h-12 opacity-90 mb-5 mx-auto" > }
  <span class="text-center block">
    <slot />
  </span>
</div>