---
import {
  SiGithub,
  SiCodepen,
  SiX,
  SiInstagram,
} from "@icons-pack/react-simple-icons";
import { Mail } from "lucide-react";
import SocialButton from "./SocialButton.astro";
---

<div class="flex items-center text-white flex-col">
  <div class="font-pixel mt-20 mb-10">
    <span class="text-center text-2xl sm:text-left block">Hi!</span>
    <span class="text-center text-3xl blinking-cursor block"
      >I'm <br class="sm:hidden" />
      <span class="text-secondary">Gioele Pannetto</span></span
    >
    <span class="text-xs block text-center mt-2">FULLSTACK & WEB DEVELOPER</span
    >
  </div>
  <div class="flex flex-wrap justify-center space-x-2">
    <SocialButton href="https://github.com/GioPan04">
      <SiGithub />
    </SocialButton>
    <SocialButton href="mailto:gioele@pannetto.com">
      <Mail />
    </SocialButton>
    <SocialButton href="https://codepen.io/GioPan">
      <SiCodepen />
    </SocialButton>
    <SocialButton href="https://x.com/giopandotdev">
      <SiX />
    </SocialButton>
    <SocialButton href="https://instagram.com/giopan.dev">
      <SiInstagram />
    </SocialButton>
  </div>
</div>
<style>
  .blinking-cursor::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 3px;
    background-color: #fff;
    animation: blinking-cursor-anim 1s step-end infinite;
    -webkit-animation: blinking-cursor-anim 1s step-end infinite;
  }
  @keyframes blinking-cursor-anim {
    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }
</style>
