---
interface Props {
  title: string;
  class?: string;
}

const { title, class: classList } = Astro.props;
---

<section class={classList}>
  <h3 class="font-pixel text-2xl text-center">{ title }</h3>
  <div class="mt-5 mb-20">
    <slot />
  </div>
</section>
