---
import NavBar from '../components/NavBar.astro';
import Button from '../components/Button.astro';

interface Props {
	title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
		<title>{title} - giopan.dev</title>
    <meta name="robots" content="noindex">
	</head>
	<body class="antialiased bg-primary text-white">
		<NavBar />
    <main class="h-screen border-l-8 border-secondary flex flex-col items-center justify-center">
      <span class="text-center font-pixel text-6xl">{title}</span>
      <span class="text-center block mt-4 mb-4">{desc}</span>
      <Button>Go to Home</Button>
    </main>
	</body>
</html>
